body{
	width: 100%;
}


.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
	width: 100%;
}

footer{
	background-color: #262626;
	padding: 25px;
	color: white;
}

.carousel-inner img{
	width: 100%;
	margin: auto;
	min-height: 200px;
}

.carousel-caption{
		display: none;
}

#noticia1,#noticia3{
	text-align: center;
	height: 700px;
}

#noticia2{
	height: 700px;
}

#imagen{
	width: 300px;
	float: center;

}

#noticias{
	width: 100%;
}

#publi,#publi_noticia{
    display: none;
}

#publiMovil{
	text-align: center;
    margin-top: 15px;
}

#fPublicacion{
	font-size: 10px;
}

#titulo{
	font-size: 25px;
}

#texto{
	font-size: 15px;
}

#ldn {
    margin-top: 15%;
}
#gifCarga{
	background:#000;
	display:none;
	position:fixed;
	top:0;
	right:0;
	bottom:0;
	left:0;
	opacity:0.8;
	z-index:2;
}

a:link{
	text-decoration: none;
}