.navbar{
	margin-bottom: 0px;
	border-radius: 0px;
}

footer{
	background-color: #262626;
	padding: 25px;
	color: white;
}

.carousel-inner img{
	width: 100%;
	margin: auto;
	min-height: 200px;
}

@media (max-width: 600px) {
	.carousel-caption{
		display: none;
	}
}

#noticia1,#noticia3{
	text-align: center;
	/*background-color: blue;*/
	height: 700px;
}

#noticia2{
	background-color: orange;
	height: 700px;
}

#noticia4{
	background-color: green;
}

#imagen{
	width: 300px;
	float: center;

}

#noticias{
	width: 100%;
	padding-right: 336px;
	background-color: black;

}

#publi{
	background-color: red
}

#fPublicacion{
	font-size: 10px;
}

#titulo{
	font-size: 25px;
}

#texto{
	font-size: 15px;
}

#tituloPrin{
	text-align: center;
}

#btnNoticia{
	margin-top: 200px;
	float: center;
}
